{% load static %}

<nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4">
            <h1><a href="" class="logo">Risset</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="{% url "dashboard" %}"><span class="fa fa-home mr-3"></span> Home</a>
                </li>
                <li>
                    <a href="{% url "chat:index" %}"><span class="fa fa-whatsapp mr-3"></span> Chat</a>
                </li>
                <li>
                    <a href="{% url "chat:pdfs" %}"><span class="fa fa-file-pdf-o mr-3"></span> Chat Pdf</a>
                </li>

                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle"><span class="fa fa-leanpub mr-3"></span> Teachable Model</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="{% url "chat:teachable-agent" %}">Teachable Agents</a>
                        </li>
                        <li>
                            <a href="{% url "chat:test-teachable-agent" %}">Test Agents</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <span class="fa fa-group mr-3"></span> Multi Agent
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu2">
                        <li>
                            <a href="{% url 'chat:group-chat' %}">My Agents</a>
                        </li>
                        <li>
                            <a href="{% url "chat:group-chat-view" %}">Chat Group</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <span class="fa fa-user mr-3"></span> Account
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu3">
                        <li>
                            <a href="">Account</a>
                        </li>
                        <li>
                            <a href="{% url "accounts:logout" %}">Logout</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
    </nav>