{% extends "pages/base.html" %}
{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "css/chat.css" %}">

    <script src="{% static "js/icons.js" %}"></script>
    <script src="{% static "js/chat.js" %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@latest/dist/markdown-it.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/base16/onedark.min.css">
    <script>
        const user_image        = `<img src="{% static 'images/user.png' %}" alt="User Avatar">`;
        const gpt_image         = `<img src="{% static 'images/gpt.jpg' %}" alt="GPT Avatar">`;
    </script>
    <style>
        .hljs {
            border-radius: 15px;
            border: 1px solid #152733;
            font-size: 15px;
        }

        #message-input {
            margin-right: 30px;
            height: 80px;
        }

        #message-input::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        #message-input::-webkit-scrollbar-track {
            background: #f1f1f1;
        }


        /* Handle */
        #message-input::-webkit-scrollbar-thumb {
            background: #3b6e8d;
        }

        /* Handle on hover */
        #message-input::-webkit-scrollbar-thumb:hover {
            background: #152733;
        }
    </style>
    <script src="{% static "js/highlight.min.js" %}"></script>
    <script src="{% static "js/highlightjs-copy.min.js" %}"></script>
    <script>window.conversation_id = `{{chat_id}}`</script>
{% endblock %}

{% block content %}
    <div id="content" class="pl-4 pr-4 pl-md-3 pr-md-3 mb-0">
        <div class="row">
            <div class="col-lg-9 conversation disable-scrollbars" style="border-right: 2px solid #152733;">
                <div class="stop_generating stop_generating-hidden">
                    <button id="cancelButton">
                        <span>Stop Generating</span>
                        <i class="fa-regular fa-stop"></i>
                    </button>
                </div>
                <div class="box pt-4" id="messages">
                </div>
                <div class="user-input border-top mb-3">
                    <div class="box input-box">
                        <textarea id="message-input" placeholder="Ask a question" cols="30" rows="10" style="white-space: pre-wrap;" oninput="resizeTextarea(this)"></textarea>
                        <div id="send-button">
                            <i class="fa-regular fa-paper-plane-top"></i>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-lg-3 box conversations pt-4">
                <div class="top">
                    <button class="new_convo" onclick="new_conversation()">
                        <i class="fa-regular fa-plus"></i>
                        <span>New Conversation</span>
                    </button>
                    <div class="spinner"></div>
                </div>
                <div class="bottom_buttons">
                    <button onclick="delete_conversations()">
                        <i class="fa-regular fa-trash"></i>
                        <span>Clear Conversations</span>
                    </button>
                </div>
                    <div class="border-top mt-2">
                        <h6 class="mt-4 mb-3">Select Expert Assistant</h6>
                        <select class="form-control" name="chat_mode" id="chat_mode" style="border: 1px solid #152733; border-radius: 15px;">
                            <option value="general" selected>general</option>
                            <option value="html and css expert">html & css expert</option>
                            <option value="dart expert">dart expert</option>
                            <option value="python expert">python expert</option>
                            <option value="golang expert">go expert</option>
                            <option value="javascript expert">javascript expert</option>
                            <option value="php expert">php expert</option>
                            <option value="java expert">java expert</option>
                            <option value="cpp expert">c++ expert</option>
                            <option value="django expert">django expert</option>
                            <option value="laravel expert">laravel expert</option>
                            <option value="react expert">react expert</option>
                            <option value="flutter expert">flutter expert</option>
                            <option value="machine learning expert">Machine learning expert</option>
                            <option value="data science expert">Data science expert</option>
                            <option value="deep learning expert">Deep learning expert</option>
                        </select>
                    </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block extra_script %}
{% endblock %}
