{% extends "pages/base.html" %}
{% load static %}

{% block extra_style %}
    <style>
    textarea {
      margin: 0;
      padding: 5px;
      height: 63px;
      line-height: 16px;
      width: 96%;
      display: block;
      margin: 0 auto;
      overflow: hidden;
      resize: none; /* Disable manual resizing */
    }
    .fixed-bottom-adjust-width {
      position: absolute;
      bottom: 0;
      width: 100%; /* Lebar menyesuaikan elemen induk */
      background-color: #a6a6a6; /* Warna latar belakang sesuai kebutuhan */
      padding: 1rem; /* Padding untuk memberikan ruang di sekitar konten */
        box-sizing: border-box;
    }
    </style>
{% endblock %}


{% block content %}
<div id="content" class="p-4 p-md-5 pt-5">
    <div class="row block">
        <div class="col-md-8 position-relative" style="height: 90vh">
            <!-- Chat Box-->
          <div class="px-4 py-5 chat-box bg-white" id="message-out">
            <!-- Sender Message-->
            <div class="media w-50 mb-3"><img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg" alt="user" width="50" class="rounded-circle">
              <div class="media-body ml-3">
                <div class="bg-light rounded py-2 px-3 mb-2">
                  <p class="text-small mb-0 text-muted">Test which is a new approach all solutions</p>
                </div>
                <p class="small text-muted">12:00 PM | Aug 13</p>
              </div>
            </div>

            <!-- Reciever Message-->
            <div class="media w-50 ml-auto mb-3">
              <div class="media-body">
                <div class="bg-primary rounded py-2 px-3 mb-2">
                  <p class="text-small mb-0 text-white">Test which is a new approach to have all solutions</p>
                </div>
                <p class="small text-muted">12:00 PM | Aug 13</p>
              </div>
            </div>

          <!-- Typing area -->

        </div>
            <div class="fixed-bottom-adjust-width bg-light">
                <form id="form-message" action="#" class=" border-2 pt-3">
                    <div class="input-group border-dark">
                      <textarea id="dynamicInput" placeholder="Type a message" rows="1" aria-describedby="button-addon2" class="rounded-3 border-2 bg-light"></textarea>
{#                      <div class="input-group-append">#}
{#                        <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>#}
{#                      </div>#}
                    </div>
                </form>
            </div>

        </div>
        <div class="col-md-4 border-left">
            <div class="bg-white">

        <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1">Recent</p>
        </div>

        <div class="messages-box">
          <div class="list-group rounded-0">
            <a class="list-group-item list-group-item-action active text-white rounded-0">
              <div class="media"><img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">25 Dec</small>
                  </div>
                  <p class="font-italic mb-0 text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
              </div>
            </a>

          </div>
        </div>
      </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script>
    function expandTextarea(id) {
        document.getElementById(id).addEventListener('keyup', function() {
            this.style.overflow = 'hidden';
            this.style.height = 0;
            this.style.height = this.scrollHeight + 'px';
        }, false);
    }

expandTextarea('dynamicInput');
  </script>
{% endblock %}

