{% extends "pages/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static "css/chat.css" %}">

    <script src="{% static "js/icons.js" %}"></script>
    <script src="{% static "js/chat-pdf.js" %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@latest/dist/markdown-it.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/base16/onedark.min.css">
    <script>
        const user_image        = `<img src="{% static 'images/user.png' %}" alt="User Avatar">`;
        const gpt_image         = `<img src="{% static 'images/gpt.jpg' %}" alt="GPT Avatar">`;
        {#const content_pdf      = `{{ pdf.content|safe }}`;#}

    </script>
    <style>
        .hljs {
            border-radius: 15px;
            border: 1px solid #152733;
            font-size: 15px;
        }

        #message-input {
            margin-right: 30px;
            height: 80px;
        }

        #message-input::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        #message-input::-webkit-scrollbar-track {
            background: #f1f1f1;
        }


        /* Handle */
        #message-input::-webkit-scrollbar-thumb {
            background: #c7a2ff;
        }

        /* Handle on hover */
        #message-input::-webkit-scrollbar-thumb:hover {
            background: #8b3dff;
        }
    </style>
    <script src="{% static "js/highlight.min.js" %}"></script>
    <script src="{% static "js/highlightjs-copy.min.js" %}"></script>
    <script>window.conversation_id = `{{chat_id}}`</script>
{% endblock %}

{% block content %}
    <div id="content" class="pl-4 pr-4 pl-md-3 pr-md-3 mb-0">
        <div class="row">
            <div class="col-lg-7 pl-5 pt-4 pr-4 conversation disable-scrollbars" style="border-right: 2px solid #152733;">
                <h4>{{ pdf.name }}</h4>
                <div id="markdown-pdf">{{ pdf.content }}</div>
            </div>
            <div class="col-lg-5 conversation disable-scrollbars pt-4" >
                <div class="bottom_buttons">
                    <button onclick="delete_conversations()">
                        <i class="fa-regular fa-trash"></i>
                        <span>Delete Conversations</span>
                    </button>
                </div>
                <div class="spinner"></div>
                <div class="stop_generating stop_generating-hidden">
                    <button id="cancelButton">
                        <span>Stop Generating</span>
                        <i class="fa-regular fa-stop"></i>
                    </button>
                </div>
                <div class="box pt-4" id="messages">
                </div>
                <div class="user-input border-top">
                    <div class="box input-box">
                        <textarea id="message-input" placeholder="Ask a question" cols="30" rows="10" style="white-space: pre-wrap;" oninput="resizeTextarea(this)"></textarea>
                        <div id="send-button">
                            <i class="fa-regular fa-paper-plane-top"></i>
                        </div>
                    </div>
                    <input type="hidden" id="content-pdf" value="{{ pdf.content }}"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
<script>
const md = window.markdownit()
const pdfContent = document.querySelector(`#content-pdf`).value;

// Render PDF content with markdownit
const renderedContent = md.render(pdfContent);

// Set the rendered content to the innerHTML of the target element
document.getElementById('markdown-pdf').innerHTML = renderedContent;

// Apply syntax highlighting to code elements using highlight.js
{#document.querySelectorAll('code').forEach((el) => {#}
{#  hljs.highlightElement(el);#}

</script>
{% endblock %}